#container {
    height: 60vh;
    width: 60vh; 
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid black; 
}

.cell {
    border: 2px solid red;
}