body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    height: 60vh;
    width: 60vh; 
    display: grid; 
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 2px solid black; 
}

.slidecontainer {
    width: 60vh;
    display: flex; 
    border: 2px solid black; 
    margin: 10px; 
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.slider {
    padding-top: 5vh; 
    width: 30vh;
}

#valBox {
    font-size: 18px; 
    margin: 0;
    padding-bottom: 2vh; 

}

#clearBtn {
    width: 30vh;
    height: 5vh;
    border: 2px solid black; 
    border-radius: 4px; 
    background-color: white; 
    font-size: 18px; 

}

#clearBtn:hover {
    background-color: grey; 
    color: white; 
}

.cell {
    border: 0.5px solid grey;
    background-color: snow;
}

.hover {
    background-color: grey; 
}

.noHover {
    background-color: snow; 
}



